html {
  height: 200%;
  overflow: scroll;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to top left, rgb(0, 225, 255), transparent),
    linear-gradient(to top right, blue, transparent),
    linear-gradient(red, transparent),
    linear-gradient(to bottom left, greenyellow, transparent),
    linear-gradient(to bottom right, purple, transparent);
  background-blend-mode: screen;
}

nav {
  width: fit-content;
  padding: 2%;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  gap: 10px;
}
nav li {
  border: solid red 1px;
  padding: 10px;
  border-radius: 10%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 200;
  background-color: rgb(25, 216, 216, 0.8);
  border: 1px solid silver;
  font-size: 1.2em;
  
}

fieldset {
  min-width: 40%;
  width: fit-content;
  margin: 2%;
  background-color: rgb(137, 255, 216, 0.8);
  font-weight: 200;
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 10%;
}

h4 {
  margin-bottom: 5px;
}

#presentation {
  width: 50%;
  padding: 1%;
  border: solid grey 1px;
  background-color: rgb(137, 255, 216, 0.8);
  font-family: Georgia, "Times New Roman", Times, serif;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
}

.presentation img {
  object-fit: contain;
}

legend {
  border: solid black 2px;
  background-color: rgb(186, 121, 248);
  border-radius: 5%;
  font-size: 150%;
  padding : 5px;
}

form {
  display: flex;
  flex-direction: column;
  }

label {
  display: inline-block;
  width:180px;
}

input:hover {
  background-color: rgb(185, 203, 255);
}
input:focus {
  background-color: rgb(185, 203, 255);
}

#passwordInput {
  display: flex;
  flex-direction: row;
}

.passwordStrength {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  padding:1px;
  border-radius: 5%;
}

#weak {
  width: 30%;
  height: 20px;
  background-color: red;
}

#medium {
  width: 60%;
  height: 20px;
  background-color: yellow;
  color: black;
}

#strong {
  width: 90%;
  height: 20px;
  background-color: green;
}

#myProfile {
  min-width: 20%;
  width: max-content;
  min-height: max-content;
  padding: 2%;
  background-color: rgb(137, 255, 216, 0.8);
  border-radius: 5%;
  color: black;
  font-size: 1.2em;
  font-weight: 600;

}

#myData {
min-width: 20%;
  width: max-content;
  min-height: max-content;
  padding: 2%;
  background-color: rgba(59, 198, 152, 0.8);
  border-radius: 5%;
  color: black;
  font-size: 1.2em;
  font-weight: 600;
}

#tableScore {
  width: 30%;
  height: max-content;
  min-height: 200px;
  padding: 2%;
  background-color: rgb(137, 255, 216, 0.8);
  border-radius: 5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap:5px;
  }

  .scoreContainer {
  width: fit-content;
  padding: 2px;
  border: solid black 2px;
  background-color: rgb(186, 121, 248);
  border-radius: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  }

.rank {
  color: rgb(234, 219, 4);
  font-size: 1.2em;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2px;
  width : 60px;
  display: flex;
  justify-content: center;
}

.userDiv {
  color: rgb(3, 44, 125);
  font-size: 1.2em;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2px;
  width : 60px;
  display: flex;
  justify-content: center;
  
}

.scoreDiv {
  color: white;
  font-size: 1.2em;
  padding: 2px;
  width : 60px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  
}

#tablePic {
  height: max-content;
  padding: 2%;
  background-color: rgb(137, 255, 216, 0.8);
  border-radius: 5%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (max-width: 799px) {
  #tablePic {
    width: 90%;
  }
}

@media (min-width: 800px) {
  #tablePic {
    width: 75%;
  }
}

.memoryCard,
.won {
  width: 14%;
  height: 14%;
  display: flex;
  justify-content: center;
  padding: 1%;
}

.memoryCard,
.won img {
  object-fit: contain;
}

.gameOn {
  width: 100px;
  height: 40px;
  background-color: green;
  border: 1px solid silver;
  font-size: 1.1em;
  border-radius: 7px;
  height: 40px;
  color: white;
}

.frontFace,
.backFace,
.discarded,
.displayed {
  width: 100%;
  height: 100%;
  border: solid black 1px;
  border-radius: 5%;
  transition: 1s ease;
}


.btnform {
  display: flex;
  gap: 20px;
}

.btn {
  width: 100px;
  color: white;
  font-size: 1.1em;
  border: 1px solid silver;
  border-radius: 7px;
  height: 40px;
}
.btn:first-child {
  background-color: rgb(177, 57, 36);
}

.btn:last-child {
  background-color: green;
  border: 1px solid silver;
}